@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: #0a192f;
}

img {
  width: 10%;
  margin-bottom: 10rem;
  animation: key 2s ease-in-out infinite alternate;
  animation-timing-function: linear;
  transform-origin: bottom;

  user-select: none;
}

label {
  position: relative;
}

label input {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background: transparent;

  padding: 1.6rem 1.92rem;
  min-width: 38.4rem;

  border-radius: 0.4rem;
  border: 2px solid #1b2e4a;

  transition: border-color 0.3s ease;
}

label input::selection {
  background: #64feda;
}

label p {
  color: #f9f9f9;
  font-size: 1.6rem;
  user-select: none;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    sans-serif;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 1.2rem;
  padding: 0 0.64rem;

  background: #0a192f;

  transition: top 0.2s, font-size 0.2s, color 0.2s;
}

label input:not(:placeholder-shown) {
  border-color: #64feda;
}

label input:not(:placeholder-shown) + p {
  top: 0;
  font-size: 1.44rem;
  color: #64feda;
}

label input:placeholder-shown + p {
  color: #1b2e4a;
}

button {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui,
    sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  user-select: none;

  margin-top: 1.9rem;
  padding: 1.6rem 1.92rem;
  min-width: 38.4rem;

  border-radius: 0.4rem;
  background: #f9f9f9;
  border: 2px solid #f9f9f9;
  color: #0a192f;

  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease;
}

/* Animation */

@keyframes key {
  from {
    transform: translateY(1.5);
  }

  to {
    transform: translateY(-1.5rem);
  }
}

/* Media Query */

@media (max-width: 446px) {
  label input {
    min-width: 30rem;
  }

  button {
    min-width: 30rem;
  }
}
